/* Write your CSS here */
.teamMatch_Container {
  min-height: 100vh;
  font-family: 'Bree serif';
}
.RCB {
  background-image: linear-gradient(to bottom, #a4261d, #0f172a);
}
.KKR {
  background-image: linear-gradient(to bottom, #5755a7, #0f172a);
}
.KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #0f172a);
}
.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #0f172a);
}
.RR {
  background-image: linear-gradient(to bottom, #da237b, #0f172a);
}
.MI {
  background-image: linear-gradient(to bottom, #13418b, #0f172a);
}
.SH {
  background-image: linear-gradient(to bottom, #f26d22, #0f172a);
}
.DC {
  background-image: linear-gradient(to bottom, #5755a7, #0f172a);
}
.teamMatch_cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.teamMatch_Image {
  width: 100%;
}
.teamMatch_heading {
  color: #ffffff;
  font-weight: 600;
  font-size: 21px;
  align-self: flex-start;
}
.TeamMatch_LatestMatch_Container {
  background-color: black;
  color: #ffffff;
  width: 100%;
}
.recentMatchContainer {
  width: 100%;
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
